# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.metadata/
/Taller2/target/
/Taller 2/Cap3Propuesto18/target/
/Taller 2/Cap3Propuesto18 - Copy/target/
/Taller 2/Cap3Propuesto19/target/
/Taller 2/Cap4Resueltos7/target/
/Taller 2/Cap4Resuelto27/target/
/Taller 2/Cap4Resueltos10/target/
/Taller 2/Cap4Resuelto10/target/
/Taller 2/Cap4Resuelto7/target/
/Taller 2/Cap4Propuesto22/target/
/Taller 2/Cap4Propuesto41/target/
/Taller 2/Parte2/target/
